/* Basics */
 
.mapbox-directions-inputs,
.mapbox-directions-errors,
.mapbox-directions-routes,
.mapbox-directions-instructions {
    font:15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
 
.mapbox-directions-inputs,
.mapbox-directions-inputs *,
.mapbox-directions-errors,
.mapbox-directions-errors *,
.mapbox-directions-routes,
.mapbox-directions-routes *,
.mapbox-directions-instructions,
.mapbox-directions-instructions * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
/* Inputs */
 
 
/* Instructions */

 
.mapbox-directions-step:last-child:after,
.mapbox-directions-step:last-child .mapbox-directions-step-distance {
    display: none;
}
 
/* icons */
 
.mapbox-directions-icon {
    background-image: url('../image/mapbox.directions.png');
    -webkit-background-size: 280px 20px;
    background-size: 280px 20px;
    background-repeat: no-repeat;
    margin: 0;
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}
 
.mapbox-directions-instructions .mapbox-directions-icon {
    position: absolute;
    left: 10px;
    top: 25px;
    margin: auto;
}
 
.mapbox-continue-icon         { background-position: 0 0; }
.mapbox-sharp-right-icon      { background-position: -20px 0; }
.mapbox-turn-right-icon       { background-position: -40px 0; }
.mapbox-bear-right-icon       { background-position: -60px 0; }
.mapbox-u-turn-icon           { background-position: -80px 0; }
.mapbox-sharp-left-icon       { background-position: -100px 0; }
.mapbox-turn-left-icon        { background-position: -120px 0; }
.mapbox-bear-left-icon        { background-position: -140px 0; }
.mapbox-depart-icon           { background-position: -160px 0; }
.mapbox-enter-roundabout-icon { background-position: -180px 0; }
.mapbox-arrive-icon           { background-position: -200px 0; }
.mapbox-close-icon            { background-position: -220px 0; }
.mapbox-reverse-icon          { background-position: -240px 0; }
.mapbox-error-icon            { background-position: -260px 0; }
 
.mapbox-marker-drag-icon {
    display: block;
    background-color: #444;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
 
.mapbox-marker-drag-icon-step {
    background-color: #3BB2D0;
}
.mapbox-directions-icon{
    background-color: rgba(112, 112, 112, 0.39);
    border-radius: 21px;
}